/* COLOR PALETTE
light non-interactive - #d3dded
dark non-interactive - #000a1c
interactive - #7cbbff
*/


/* -------------------------  GENERAL STYLES ------------------------- */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements (suggestion from Paul Irish) */
*, *:before, *:after { 
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000a1c;
  color: #d3dded;
  font-size: 87%; 
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* phone */
@media (max-device-width: 767px) {
  body {
    background-color: #000000;
  }
}

div, ul, ol, li {
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

img {
  display: block;
  margin: 10px auto;
  padding: 0;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

hr {
  margin: 20px 0 10px 0;
  border: 0;
  border-top: 1px solid #b2b7b6;
}


/* -------------------------  GENERAL TEXT STYLES ------------------------- */
a:link,
a:visited {
  display: inline;
  color: #7cbbff;
  text-decoration: none;
}
/* background hover color on desktop only */
@media (min-device-width: 1025px) {
  a:hover {
    text-decoration: underline;
  }
}
a:active {
  text-decoration: underline;
}
.displayToggle > a:link,
.displayToggle > a:visited {
  display: block;
  padding: 5px 10px;
  background-color: #000a1c;
  color: #7cbbff;
  text-decoration: none;
  border-top: 2px solid #7cbbff;
  border-bottom: 2px solid #7cbbff;
}
.displayToggle > a:focus {
  outline: thin dotted #7cbbff;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  background-color: #000a1c;
}
/* background hover color on desktop only */
@media (min-device-width: 1025px) {
  .displayToggle > a:hover {
    outline: 0;
    background-color: #7cbbff;
    color: #000a1c;
    box-shadow: 0 1px 10px #7cbbff;
  }
}
.displayToggle > a:active {
  outline: 0;
  background-color: #7cbbff;
  color: #000a1c;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-family: inherit;
}

h1 {
  padding: 10px 0;
  background-color: #d3dded;
  color: #000a1c;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

h2 {
  /* margin-top: 20px; */ /* this top margin causes displayToggle sliding jiggle */
  padding: 5px 0;
  background-color: #d3dded;
  color: #000a1c;
  text-align: center;
  font-weight: bold;
  font-size: 110%;
}

.moreInfoQuestion {
  background-color: #d3dded;
  color: #000a1c;
}
.moreInfoAnswer {
  font-size: 90%;
  color: #d3dded;
}


/* -------------------------  MAIN CONTENT ------------------------- */
#Content {
  margin: 25px auto 10px;
  overflow: auto;
}
/* phone */
@media (max-device-width: 767px) {
  #Content {
    width: 100%;
    padding: 75px 10px 150px 10px; /* need extra bottom padding to make room for buttons */
  }
}
/* tablet */
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  #Content {
    width: 750px;
    border: 2px solid #d3dded;
    border-radius: 10px;
  }
}
/* desktop */
@media (min-device-width: 1025px) {
  #Content {
    width: 950px;
    border: 2px solid #d3dded;
    border-radius: 10px;
  }
}
#InfoWrapper p {
  padding: 5px 10px;
}
/* tablet and desktop */
@media (min-device-width: 768px) {
  #HeaderWrapper {
    border-bottom: 2px solid #d3dded;
  }
  #HeaderWrapper p {
    padding: 0 20px;
  }
  #InfoWrapper {
    width: 50%;
    float: left;
    margin-top: 10px;
    border-right: 2px solid #d3dded;
  }
  #ControlWrapper {
    width: 50%;
    float: right;
    position: relative; /* left column (#InfoWrapper) has right border and right column (#ControlWrapper) has */
    left: -2px; /* left border, but we don't know which has greater height, so offset right column to overlap */
    border-left: 2px solid #d3dded;
  }
}

.hiddenContent {
  display: none;
}


/* -------------------------  BUTTONS ------------------------- */
button {
  display: block;
  height: 64px;
  width: 64px;
  margin: 10px auto;
  color: #7cbbff;
  font-size: 110%;
  text-align: center;
  background-color: #000a1c;
  border: 2px solid #7cbbff;
  border-radius: 50%;
  box-shadow: 0 1px 8px #7cbbff;
}
button:focus {
  outline: none;
}
/* background hover color on desktop only */
/* order of CSS pseudo-classes matters - do NOT change this order */
@media (min-device-width: 1025px) {
  button:hover {
    background-color: #7cbbff;
    color: #000a1c;
    box-shadow: 0 1px 16px #7cbbff;
  }
}
button:active {
  background-color: #7cbbff;
    color: #000a1c;
    box-shadow: 0 1px 16px #7cbbff;
}
button.active { /* buttons can be triggered by hot keys, and this class gives same appearance for active state */
  background-color: #7cbbff;
  color: #000a1c;
  box-shadow: 0 1px 16px #7cbbff;
}
button:disabled {
  background-color: #000a1c;
  color: #d3dded;
  border: 2px solid #d3dded;
  box-shadow: none;
}
#TransportButtonWrapper {
  padding: 0 10px; /* need padding for warning text when user taps stop button */
  width: 100%;
}
#ActionButtonWrapper {
  width: 100%;
}
.actionButtonColumn {
  width: 33%;
  display: inline-block;
  float: left;
}
/* phone */
@media (max-device-width: 767px) {
  #TransportButtonWrapper {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #000a1c;
    border-bottom: 1px solid #7cbbff;
    box-shadow: 0 1px 10px #7cbbff;
  }
  #ActionButtonWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: #000a1c;
    border-top: 1px solid #7cbbff;
    box-shadow: 0 1px 10px #7cbbff;
  }
}
/* tablet/desktop */
@media (min-device-width: 768px) {
  #TransportButtonWrapper {
    border-bottom: 1px solid #d3dded;
  }
  #ActionButtonWrapper {
    border-top: 1px solid #d3dded;
  }
}
/* spinning line while buffers are loading */
#LoadingAnimation {
  width: 100%;
  height: 100%;
  padding: 5px;
  -webkit-animation: 4s infinite linear rotation;
          animation: 4s infinite linear rotation;
}
@-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }
@keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }

button#ConfirmStop {
  background-color: white;
  color: red;
  border-radius: 5px;
  border-color: red;
  width: auto;
  box-shadow: 0 1px 10px red;
}
button#ConfirmStop:hover {
  background-color: red;
  color: white;
}
button#CancelStop {
  border-radius: 5px;
  width: auto;
}


/* -------------------------  XY-PAD ("Dragger") ------------------------- */
/* partially copied from styles from Interface.js */
#Content #DragContainer {
  margin: 20px auto;
  position: relative;
  clear: left;
  display: none; /* container for XY-pad not displayed by default. if needed, will slide down to add. */
}
#Content #DragContainer.shouldHaveBorder {
  border: 2px solid #7cbbff;
  border-radius: 5px;
}
/* phone (really shouldn't need this, but could still use XY-pad on mobile device) */
@media (max-device-width: 767px) {
  #DragContainer {
    width: 250px;
    height: 250px;
  }
}
/* tablet (really shouldn't need this, but could still use XY-pad on mobile device) */
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  #DragContainer {
    width: 300px;
    height: 300px;
  }
}
/* desktop */
@media (min-device-width: 1025px) {
  #DragContainer {
    width: 400px;
    height: 400px;
  }
}
#Content .Dragger {
  width: 25px; /* changeMadeFrom 90px */
  height: 25px; /* changeMadeFrom 90px */
  position: absolute;
  background-color: #000a1c; /* was black */
  border-radius: 50%;
  z-index: 1;
  margin-top: -2px;
  border: 2px solid #7cbbff;
  cursor: -webkit-grab;
  box-shadow: 0 1px 10px #7cbbff;
}
#Content .Dragger #Name { /* #Name adds text to the button in the XY-pad. I don't use this. */
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 12px;
  line-height: 90px;
}
#Content .Dragger:hover {
  background-color: #7cbbff;
}
#Content .Dragger.is-pointer-down {
  cursor: -webkit-grabbing;
  background-color: #7cbbff;
}
#Content .Dragger.is-pointer-down #Name {
  color: black; /* #Name adds text to the button in the XY-pad. I don't use this. */
}
#Content .Axis {
  position: absolute;
  background-color: #7cbbff;
  width: 3px;
  height: 3px;
  top: 3px;
  left: 3px;
  border-radius: 1.5px;
  z-index: 0;
}
#Content #xAxis {
  width: 98%; /* fallback for browsers without support for calc() */
  width: calc(100% - 6px);
}
#Content #yAxis {
  height: 98%; /* fallback for browsers without support for calc() */
  height: calc(100% - 6px);
}

