/* COLOR PALETTE
background for body (and button wrappers on phone): #d0e5ed;
background for #Content: #fff;
borders and background for white text: #777;
non-interactive font color: #555;
interactive elements: #0092cc;
disabled elements and background for interactive-color text (e.g., on hover): #ddd;
*/

/* -------------------------  GENERAL STYLES ------------------------- */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements (suggestion from Paul Irish) */
*, *:before, *:after { 
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d0e5ed;
  color: #555;
  font-size: 87%; 
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

div, ul, ol, li {
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

img {
  display: block;
  margin: 10px auto;
  padding: 0;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

hr {
  margin: 20px 0 10px 0;
  border: 0;
  border-top: 1px solid #777;
}


/* -------------------------  GENERAL TEXT STYLES ------------------------- */
a:link,
a:visited {
  display: inline;
  background-color: #ddd;
  color: #0092cc;
  text-decoration: none;
}
/* hover on desktop only */
@media (min-device-width: 1025px) {
  a:hover {
    color: #fff;
    background-color: #0092cc;  
  }
}
a:active {
  color: #fff;
    background-color: #0092cc;
}
a:focus {
  outline: none;
}
.displayToggle > a {
  display: block;
  padding: 5px 10px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-family: inherit;
}

h1 {
  padding: 10px 0;
  background-color: #777;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

h2 {
  padding: 5px 0;
  background-color: #777;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 110%;
}

.moreInfoQuestion {
  background-color: #777;
  color: #fff;
}
.moreInfoAnswer {
  font-size: 90%;
  color: #444;
}


/* -------------------------  MAIN CONTENT ------------------------- */
#Content {
  margin: 25px auto;
  background-color: #fff;
  overflow: auto;
}
/* phone */
@media (max-device-width: 767px) {
  #Content {
    width: 100%;
    padding: 75px 10px 140px 10px; /* need extra bottom padding to make room for buttons */
  }
}
/* tablet */
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  #Content {
    width: 750px;
    border: 2px solid #777;
    border-radius: 10px;
  }
}
/* desktop */
@media (min-device-width: 1025px) {
  #Content {
    width: 950px;
    border: 2px solid #777;
    border-radius: 10px;
  }
}
#InfoWrapper p {
  padding: 5px 10px;
}
/* tablet and desktop */
@media (min-device-width: 768px) {
  #HeaderWrapper {
    border-bottom: 2px solid #777;
  }
  #HeaderWrapper p {
    padding: 0 20px;
  }
  #InfoWrapper {
    width: 50%;
    float: left;
    margin-top: 10px;
    border-right: 2px solid #777;
  }
  #ControlWrapper {
    width: 50%;
    float: right;
    position: relative; /* left column (#InfoWrapper) has right border and right column (#ControlWrapper) has */
    left: -2px; /* left border, but we don't know which has greater height, so offset right column to overlap */
    border-left: 2px solid #777;
  }
}

.hiddenContent {
  display: none;
}


/* -------------------------  BUTTONS ------------------------- */
button {
  display: block;
  height: 64px;
  width: 64px;
  margin: 10px auto;
  color: #0092cc;
  font-size: 110%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #0092cc;
  border-radius: 50%;
}
button:focus {
  outline: none;
}
/* background hover color on desktop only */
/* order of CSS pseudo-classes matters - do NOT change this order */
@media (min-device-width: 1025px) {
  button:hover {
    background-color: #0092cc;
    color: #fff;
    cursor: pointer;
  }
}
button:active {
  background-color: #0092cc;
  color: #777;
  border-color: #777;
}
button.active { /* buttons can be triggered by hot keys, and this class gives same appearance for active state */
  background-color: #0092cc;
  color: #fff;
}
button:disabled {
  background-color: #fff;
  color: #ddd;
  border: 2px solid #ddd;
  cursor: default;
}
#TransportButtonWrapper {
  padding: 0 10px; /* need padding for warning text when user taps stop button */
  width: 100%;
}
#ActionButtonWrapper {
  width: 100%;
}
.actionButtonColumn {
  width: 33%;
  display: inline-block;
  float: left;
}
/* phone */
@media (max-device-width: 767px) {
  #TransportButtonWrapper, #ActionButtonWrapper {
    position: fixed;
    left: 0;
    margin: 0;
    background: rgba(208, 229, 237, 0.95); /* needed to keep buttons opaque, as opacity applies to children */
    box-shadow: 0 1px 10px #000;
  }
  #TransportButtonWrapper {
    top: 0;
    border-bottom: 2px solid #0092cc;
  }
  #ActionButtonWrapper {
    bottom: 0;
    border-top: 2px solid #0092cc;
  }
}
/* tablet/desktop */
@media (min-device-width: 768px) {
  #TransportButtonWrapper {
    border-bottom: 1px solid #777;
  }
  #ActionButtonWrapper {
    border-top: 1px solid #777;
  }
}
#TransportButton {
  /* bigger font for play/stop/reload icons */
  padding: 0;
  font-size: 125%;
}
/* spinning line while buffers are loading */
#LoadingAnimation {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  -webkit-animation: 4s infinite linear rotation;
          animation: 4s infinite linear rotation;
}
@-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }
@keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }

button#ConfirmStop {
  background-color: white;
  color: red;
  border-radius: 5px;
  border-color: red;
  width: auto;
}
button#ConfirmStop:hover {
  background-color: red;
  color: white;
}
button#CancelStop {
  border-radius: 5px;
  width: auto;
}


/* -------------------------  XY-PAD ("Dragger") ------------------------- */
/* partially copied from styles from Interface.js */
#DragContainer {
  margin: 20px auto;
  position: relative;
  clear: left;
  display: none; /* container for XY-pad not displayed by default. if needed, will slide down to add. */
}
#DragContainer.shouldHaveBorder {
  border: 2px solid #0092cc;
  border-radius: 5px;
}
/* phone (really shouldn't need this, but could still use XY-pad on mobile device) */
@media (max-device-width: 767px) {
  #DragContainer {
    width: 250px;
    height: 250px;
  }
}
/* tablet (really shouldn't need this, but could still use XY-pad on mobile device) */
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  #DragContainer {
    width: 300px;
    height: 300px;
  }
}
/* desktop */
@media (min-device-width: 1025px) {
  #DragContainer {
    width: 400px;
    height: 400px;
  }
}
#DragContainer .Dragger {
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  margin-top: -2px;
  border: 2px solid #0092cc;
  cursor: -webkit-grab;
}
#DragContainer .Dragger #Name { /* #Name adds text to the button in the XY-pad. I don't use this. */
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 12px;
  line-height: 90px;
}
#DragContainer .Dragger:hover {
  background-color: #0092cc;
}
#DragContainer .Dragger.is-pointer-down {
  cursor: -webkit-grabbing;
  background-color: #0092cc;
}
#DragContainer .Dragger.is-pointer-down #Name {
  color: black; /* #Name adds text to the button in the XY-pad. I don't use this. */
}
#DragContainer .Axis {
  position: absolute;
  background-color: #777;
  width: 3px;
  height: 3px;
  top: 3px;
  left: 3px;
  border-radius: 1.5px;
  z-index: 0;
}
#DragContainer #xAxis {
  width: 98%; /* fallback for browsers without support for calc() */
  width: calc(100% - 6px);
}
#DragContainer #yAxis {
  height: 98%; /* fallback for browsers without support for calc() */
  height: calc(100% - 6px);
}

