/*
** GENERAL STYLING AND RESETTING
**/

:root {
 --bright-blue: #032dc1;
 --medium-blue: #384577;
} /* TODO: decide on global colors and set as variables like below */
div.example {
  background-color: var( --bright-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  background-color: var(--medium-blue);
}

/* TODO: decide on font and colors */
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background: linear-gradient(#032dc1, #384577);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  margin: 0;
  padding: 25px 90px;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
}

h2 {
  font-size: 2rem;
}
/* TODO: delete unused selectors (e.g., will I use h6? probs not) */
h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0.5rem 0;

  color: inherit;
  font-size: inherit;
}

/* TODO: decide on link appearance and touch behavior */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/*
** BUTTONS
**/

button,
button:hover,
button:active,
button:focus {
  display: inline-block;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid var(--bright-blue);
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: var(--bright-blue);
  background-color: #fff;
  box-shadow: 0 0 16px rgba(255,255,255,.28);;
}

#helpDisclosureButton,
#infoDisclosureButton {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 50px;
  width: 50px;
  margin: 20px;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 1;
}
#helpDisclosureButton {
  left: 0;
}
#infoDisclosureButton {
  right: 0;
}


/*
** PANEL LAYOUT
**/

header {
  background-color: transparent;
}

main {
  background-color: transparent;
  margin 0;
}

#status_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  margin-top: calc(20vh - 75px);
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #fff;
  border-radius: 10px;
  background-color: transparent;
}
#statusLabel,
#statusLabel.default {
  padding: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 1.75rem;
  text-align: center;
}

#statusLabel.active {
  animation: pulsing 2s ease-out 0s infinite alternate;
}
@keyframes pulsing {
  from { opacity: 1; }
  to   { opacity: 0.2; }
}

#statusLabel.error {
  color: red;
}

#startStopButton {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  min-width: 100px;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 0.05rem;
}
#startStopButton.hidden {
  display: none;
}

#startStopButton.start,
#startStopButton.stop {
  color: var(--bright-blue);
}

/* use after button has been tapped but cue is being fetched */
#startStopButton.disabled {
  opacity: 0.5;
}

#startStopButton.reload {
  color: red;
  border-color: red;
}

#message_container,
#message_container.default {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 75vw; */
  margin: 25px 50px;
  padding: 20px;
  border: 2px dashed #fff;
  border-radius: 10px;
  background-color: transparent;
  opacity: 1;
  color: #fff;
}
#message_container.warning {
  color: orange;
}

#message_container.error {
  color: red;
  border-color: red;
  background-color: #fff;
}

#message_container.hidden {
  opacity: 0;
}



#helpPanel,
#infoPanel {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: yellow;
  box-shadow: 0 0 16px rgba(0,0,0,.28); /* TODO: white box-shadow? */
}
#helpPanel.slide-in {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0s;
}
#infoPanel.slide-in {
  visibility: visible;
  transform: translateX(10%);
  transition: transform 0.25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0s;
}

@media (max-width: 767px) {
  #helpPanel,
  #infoPanel {
    width: 90%;
  }
  #helpPanel.slide-out {
    visibility: hidden;
    transform: translateX(-110%);
    transition: transform 0.25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0.25s;
  }
  #infoPanel.slide-out {
    visibility: hidden;
    transform: translateX(110%);
    transition: transform 0.25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0.25s;
  }
}
@media (min-width: 768px) {
  #helpPanel,
  #infoPanel {
    width: 400px;
  }
  #helpPanel.slide-out {
    visibility: hidden;
    transform: translateX(-416px); /* TODO: decide size of box-shadow */
    transition: transform 0.25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0.25s;
  }
  #infoPanel.slide-out {
    visibility: hidden;
    transform: translateX(416px);
    transition: transform 0.25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0.25s;
  }
}


/*
** styles I wrote during development
**/

#publicConsole.hidden {
  display: none;
}

#publicConsole.visible {
  display: block;
}
