#statusLabel.default {
  color: black;
}

#statusLabel.active {
  color: green;
}

#statusLabel.error {
  color: red;
}

#startStopButton.hidden {
  display: none;
}

#startStopButton.start {
  /* NEED TO RESET DISPLAY? */
  color: black;
}

#startStopButton.stop {
  /* NEED TO RESET DISPLAY? */
  color: red;
}

#startStopButton.disabled {
  /* NEED TO RESET DISPLAY? */
  color: gray;
}

#startStopButton.reload {
  /* NEED TO RESET DISPLAY? */
  color: purple;
}


#messageLabel.default {
  color: black;
}

#messageLabel.warning {
  color: orange;
}

#messageLabel.error {
  color: red;
}

#messageLabel.hidden {
  display: none;
}

#publicConsole.hidden {
  display: none;
}

#publicConsole.visible {
  display: block;
}
